.price_tag {
  width: 102px !important;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
  background: url(../images/price-bg.svg) center center no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
}

.biin5days {
  font-size: 70px;
  line-height: 84px;
  letter-spacing: -0.055em;
  font-family: "Futura Hv BT";
}

.overview {
  font-size: 40px;
  line-height: 48px;
  font-family: "Futura Md BT";
  color: var(--primary-color);
  margin: 21px 0px 34px;
}

.description {
  font-size: 17px;
  line-height: 20px;
  font-family: "Futura Bk BT";
}

/* Work on this */