:root {
    --primary-color: #0098DA;
    --primary-light-color: #009adb26;
    --secondary-color: #F39237;
  }
  
  * {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Futura';
    font-style: normal;
    /*position: relative;
    width: 1512px;
    height: 12657px;
    object-fit: contain;*/
  }
  
  .nav {
    background-color: #FFFFFF;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 13px 0 20px;
    margin: 0 0 798px 1px;
    object-fit: contain;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 2rem;
  }
  
  .nav__contents, .links, .links > .menu, .banner-content, .banner-content_left, .banner-content_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav__contents > .logo {
    width: 68px;
    height: 83px;
  }
  
  .nav__contents > .logo > img {
    width: 100%;
    height: 100%;
  }
  a:link {
    text-decoration: none;
  }
  
  .nav__contents .links {
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  
  .nav__contents .links > .register {
    color: #FFFFFF;
    background-color: var(--secondary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 13px 28px;
  }
  
  .nav__contents .links > .menu > a:link {
    color: var(--primary-color);
    margin-right: 2rem;
  }

/*Hero section*/
.Mask-group {
    width: 1510px;
    height: 907px;
    margin: 0 0 12px 2px;
    padding: 0px 25px 43px 0px;
    object-fit: contain;
    background-image: url('./images/Mask-group.png')
}
.Group-49 {
    width: 941px;
    height: 543px;
    margin: 45px 412px 72px 0;
    object-fit: contain;
}
.power-bi-1 {
    width: 492px;
    height: 660px;
    margin: 0 0 0 861px;
    object-fit: contain;
    align
}


/*Start Tech Journey*/
.Start-your-tech-journey {
    width: 407px;
    height: 53px;
    margin: 12px 9px 24px 553px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}


/*Sales-pitch*/
.Sales-pitch {
    width: 1483px;
    height: 400px;
    margin: 144px 29px 143px 0;
    object-fit: contain;
    font-family: Inter;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

/*data-analyst*/
.Data-Analyst-is {
    width: 595px;
    height: 84px;
    margin: 143px 475px 55px 442px;
    object-fit: contain;
    font-family: FuturaHvBT;
    font-size: 70px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.75px;
    text-align: center;
    color: #000;
}
.A-data-analyst-source {
    width: 1347px;
    height: 90px;
    margin: 55px 82px 30px 83px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.65px;
    text-align: center;
    color: #000;
  }
  .DA-technical {
    width: 1408px;
    height: 133px;
    margin: 30px 56px 127px 48px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.65px;
    text-align: center;
    color: #000;
  }

/*learn-card*/
.learn-card {
    position: absolute;
    width: 1383px;
    height: 552px;
    left: 60px;
    top: 2313px;
    margin: 127px 69px 126px 60px;
}

/*Learn-Grow-Impact*/
.learn-card {
    width: 1383px;
    height: 552px;
    margin: 127px 69px 126px 60px;
    object-fit: contain;
  }


/*mercy*/
.Rectangle-58 {
    width: 1512px;
    height: 1630px;
    margin: 126px 0 133px;
    padding: 106px 8px 82px 74px;
    object-fit: contain;
    background-color: rgba(0, 152, 218, 0.07);
  }
.Group-58 {
    width: 708px;
    height: 976px;
    margin: 0 50px 130px 9px;
    object-fit: contain;
  }
  .Mercy-George-Igbafe {
    width: 351px;
    height: 48px;
    margin: 16px 312px 34px 50px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .Mercy-achieve {
    width: 663px;
    height: 958px;
    margin: 34px 0 50px 50px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .Upskilled {
    width: 1360px;
    height: 336px;
    margin: 50px 70px 0 0;
    font-family: Poppins;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .Upskilled .text-style-1 {
    font-weight: bold;
  }


/*impact*/
.Our-Impact-so-far {
    width: 558px;
    height: 84px;
    margin: 133px 474px 83px 480px;
    object-fit: contain;
    font-family: FuturaHvBT;
    font-size: 70px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2.1px;
    text-align: center;
    color: #000;
  }

.pROGRAM-STATS {
    width: 1319px;
    height: 377px;
    margin: 83px 97px 121px 96px;
    object-fit: contain;
  }


/*Partners*/
.Supported-by-leading-organisations {
    width: 573px;
    height: 54px;
    margin: 121px 63px 2px 71px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.98px;
    text-align: center;
    color: #000;
  }

.Partners {
    width: 1509px;
    height: 462px;
    margin: 2px 3px 28px 0;
    object-fit: contain;
    background-color: #fff;
  }

/*testimonials*/
.What-our-Students-are-saying {
    width: 688px;
    height: 50px;
    margin: 28px 394px 52px 430px;
    object-fit: contain;
    font-family: Futura;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

.Video {
    width: 1428px;
    height: 592px;
    margin: 52px 43px 22px 41px;
    object-fit: contain;
  }

.Testimonials {
    width: 1491px;
    height: 1643px;
    margin: 52px 21px 139px 0;
    object-fit: contain;
  }

/*C-T-A-2*/
/*.PngItem_1288897-1 {
    width: 182.6px;
    height: 181.5px;
    margin: 1666px 372.4px 98.5px 154.8px;
    object-fit: contain;
    transform: rotate(-55.54deg);
}*/

.Click-here-btn-2 {
    width: 593px;
    height: 76px;
    margin: 139px 460px 36px 459px;
    object-fit: contain;
  }

/*curriculum*/
.Power-BI-Curriculum {
    width: 585px;
    height: 96px;
    margin: 36px 464px 36px 463px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -3.52px;
    text-align: left;
    color: #000;
  }

  .Curriculum {
    width: 904px;
    height: 720px;
    margin: 36px 445px 77px 163px;
    object-fit: contain;
  }

/*extra-bonus*/
.EXTRA-BONUS {
    width: 286px;
    height: 48px;
    margin: 77px 226px 17px 445px;
    object-fit: contain;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0098da;
  }


.extra {
  width: 584px 829px;
  height: 60px;
  margin: 17px 210px 0 163px;
  object-fit: contain;
  font-family: Poppins;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Hands-on-Practical-Knowledge {
    width: 584px;
    height: 60px;
    margin: 17px 210px 0 163px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.Certificate-of-Participation-for-all-students {
    width: 829px;
    height: 60px;
    margin: 77px 524px 142px 159px;
    object-fit: contain;
    font-family: Poppins;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

/*meet-our-trainers*/
.MEET-OUR-TRAINERS {
    width: 569px;
    height: 96px;
    flex-grow: 0;
    margin: 0 9px 138px 360px;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -3.52px;
    text-align: left;
    color: #000;
}
.Group-59 {
    width: 393.9px;
    height: 543px;
    flex-grow: 0;
    margin: 71px 71.1px 22px 0;
    object-fit: contain;
}
.Precious-Davies {
    width: 394px;
    height: 83px;
    flex-grow: 0;
    margin: 22px 71px 0 0;
    font-family: Poppins;
    font-size: 55px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -3.03px;
    text-align: left;
    color: #000;
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
    width: 389px;
    height: 181px;
    flex-grow: 0;
    margin: 105px 72px 0 4px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000;
  }
  .Group-60 {
    width: 393.9px;
    height: 543px;
    flex-grow: 0;
    margin: 71px 71.1px 22px 79px;
    object-fit: contain;
}
.Precious-Davies {
    width: 394px;
    height: 83px;
    flex-grow: 0;
    margin: 22px 71px 0 0;
    font-family: Poppins;
    font-size: 55px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -3.03px;
    text-align: left;
    color: #000;
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
    width: 389px;
    height: 181px;
    flex-grow: 0;
    margin: 105px 72px 0 4px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000;
}
.Group-61 {
    width: 393.9px;
    height: 543px;
    flex-grow: 0;
    margin: 71px 0.1px 22px 8px;
    object-fit: contain;
}
.Precious-Davies {
    width: 394px;
    height: 83px;
    flex-grow: 0;
    margin: 22px 71px 0 0;
    font-family: Poppins;
    font-size: 55px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -3.03px;
    text-align: left;
    color: #000;
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
    width: 389px;
    height: 181px;
    flex-grow: 0;
    margin: 105px 72px 0 4px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2.2px;
    text-align: center;
    color: #000;
}

/*faqs*/
.Frame-14 {
    width: 1512px;
    height: 1394px;
    margin: 133px 42px 53px;
    padding: 42px 221.9px 24px 188px;
    background-color: rgba(0, 152, 218, 0.5);
}
.FAQS {
    width: 147px;
    height: 48px;
    margin: 0 473.1px 181px 452px;
    font-family: Futura;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: left;
    color: #fff;
}
.Faqs-2 {
    width: 941px;
    height: 882px;
    margin: 181px 64.1px 54px 67px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.BTN-63 {
    width: 1087.1px;
    height: 163px;
    margin: 54px 0 0 15px;
}
.Frame-11 {
    width: 976px;
    height: 76px;
    margin: 15.1px 46.1px 0 65px;
    padding: 14px 96px 14px 95px;
    border-radius: 15px;
    background-color: #f39237;
}
.Yes-I-want-the-5-Day-Class-and-bonuses {
    width: 785px;
    height: 48px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}


/*footer*/
